#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#lose {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    font-family: "Courier New";
    width: 100%;
    height: 100%;
}

#win {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    font-family: "Courier New";
    width: 100%;
    height: 100%;
}

#instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: "Courier New";
}